doctype html
html

  block head

  body

    // Kitchen Menu
    input#TogglerMenu(type="checkbox")
    .KitchenSincHead
      .KitchenSincHead__menuRow
        .KitchenSincHead__logoColumn
          h1 SuperGigi
        .KitchenSincHead__menuColumn
          block menu

    .KitchenSincBody

      .KitchenSincHead__navbar
        label(for="TogglerMenu")
          svg#Livello_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 100 100', style='enable-background:new 0 0 100 100;', xml:space='preserve')
            rect#XMLID_1_(x='-0.1', y='70.3', width='100.1', height='15.5')
            rect#XMLID_4_(x='-0.1', y='42.7', width='100.1', height='15.5')
            rect#XMLID_3_(x='-0.1', y='14.8', width='100.1', height='16.3')

      block content


      script(
        type="text/javascript"
        src="scripts/vendor/prism.js"
      )
