// - THE GRID

// - Example 1
.DocumentationSection
  .DocumentationSection__description
    .DocumentationSection__title
      h3.Typo__h3 Simple grid
    .DocumentationSection__text
      a.Typo__a(href="https://github.com/Objectway/super-gigi#grid-row" target="_blank") grid-row()
      | &nbsp; - &nbsp;
      a.Typo__a(href="https://github.com/Objectway/super-gigi#grid-row" target="_blank") grid-column()

  .DocumentationSection__example
    .RoastedRibs
      .RoastedRibs__element.RoastedRibs__element--first
        .Box
          p.Typo__p.Box__paragraph 1
      .RoastedRibs__element.RoastedRibs__element--second
        .Box
          p.Typo__p.Box__paragraph 2

  .DocumentationSection__html
    pre.CodeExampleBox
      code.language-markup.
        &lt;div class=&quot;RoastedRibs&quot;&gt;
          &lt;div class=&quot;RoastedRibs__element RoastedRibs__element--first&quot;&gt;
            &lt;div class=&quot;Box&quot;&gt;
              &lt;p&gt;1&lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;RoastedRibs__element RoastedRibs__element--second&quot;&gt;
            &lt;div class=&quot;Box&quot;&gt;
              &lt;p&gt;2&lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;

  .DocumentationSection__scss
    pre.CodeExampleBox
      code.language-scss.
        .RoastedRibs{
          @include grid-row();
          // Equivalent to grid-row($nested: true, $vertical: false)

          &__element {
            &--first {
              @include grid-column((xxsmall: 12, medium: 4, large: 6));
            }

            &--second {
              @include grid-column((xxsmall: 12, medium: 8, large: 6));
            }
          }
        }


// - Example 2
.DocumentationSection
  .DocumentationSection__description
    .DocumentationSection__title
      h3.Typo__h3 Nested and vertical row
    .DocumentationSection__text
      p.Typo__p Nested will set negative margin to the row to reset the padding of a parent row.
      a.Typo__a(href="https://github.com/Objectway/super-gigi#grid-row" target="_blank") grid-row()

  .DocumentationSection__example
    .FriedChips
      .FriedChips__element.FriedChips__element--first
        .Box
          p.Typo__p.Box__paragraph 1
      .FriedChips__element.FriedChips__element--second
        .Box
          p.Typo__p.Box__paragraph 2

  .DocumentationSection__html
    pre.CodeExampleBox
      code.language-markup.
        &lt;div class=&quot;FriedChips&quot;&gt;
          &lt;div class=&quot;FriedChips__element FriedChips__element--first&quot;&gt;
            &lt;div class=&quot;Box&quot;&gt;
              &lt;p&gt;1&lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;FriedChips__element FriedChips__element--second&quot;&gt;
            &lt;div class=&quot;Box&quot;&gt;
              &lt;p&gt;2&lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;

  .DocumentationSection__scss
    pre.CodeExampleBox
      code.language-scss.
        .FriedChips {
          @include grid-row($nested: true, $vertical: true);

          &__element {
            &--first {
              @include grid-column(6);
            }

            &--second{
              @include grid-column(6);
            }
          }
        }


// - Example 3
.DocumentationSection
  .DocumentationSection__description
    .DocumentationSection__title
      h3.Typo__h3 Column auto
    .DocumentationSection__text
      p.Typo__p Testo esempio column auto
      a.Typo__a(href="https://github.com/Objectway/super-gigi#grid-column" target="_blank") grid-column()

  .DocumentationSection__example
    .Tomatoes
      .Tomatoes__element.Tomatoes__element--first
        .Box
          p.Typo__p.Box__paragraph 1
      .Tomatoes__element.Tomatoes__element--second
        .Box
          p.Typo__p.Box__paragraph 2
      .Tomatoes__element.Tomatoes__element--third
        .Box
          p.Typo__p.Box__paragraph 3

  .DocumentationSection__html
    pre.CodeExampleBox
      code.language-markup.
        &lt;div class=&quot;Tomatoes&quot;&gt;
          &lt;div class=&quot;Tomatoes__element Tomatoes__element--first&quot;&gt;
            &lt;div class=&quot;Box&quot;&gt;
              &lt;p&gt;1&lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;Tomatoes__element Tomatoes__element--second&quot;&gt;
            &lt;div class=&quot;Box&quot;&gt;
              &lt;p&gt;2&lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;Tomatoes__element Tomatoes__element--third&quot;&gt;
            &lt;div class=&quot;Box&quot;&gt;
              &lt;p&gt;3&lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;

  .DocumentationSection__scss
    pre.CodeExampleBox
      code.language-scss.
        .Tomatoes {
          @include grid-row(false);

          &__element {
            &--first {
              @include grid-column(auto);
            }

            &--second {
              @include grid-column(auto);
            }

            &--third {
              @include grid-column((xxsmall: 6, medium: auto, large: 3));
            }
          }
        }


// - Example 4
.DocumentationSection
  .DocumentationSection__description
    .DocumentationSection__title
      h3.Typo__h3 Change the grid base
    .DocumentationSection__text
      p.Typo__p Testo esempio change the grid base
      a.Typo__a(href="https://github.com/Objectway/super-gigi#grid-column" target="_blank") grid-column()

  .DocumentationSection__example
    .Steak
      .Steak__element.Steak__element--first
        .Box
          p.Typo__p.Box__paragraph 1
      .Steak__element.Steak__element--second
        .Box
          p.Typo__p.Box__paragraph 2

  .DocumentationSection__html
    pre.CodeExampleBox
      code.language-markup.
        &lt;div class=&quot;Steak&quot;&gt;
          &lt;div class=&quot;Steak__element Steak__element--first&quot;&gt;
            &lt;div class=&quot;Box&quot;&gt;
              &lt;p&gt;1&lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;Steak__element Steak__element--second&quot;&gt;
            &lt;div class=&quot;Box&quot;&gt;
              &lt;p&gt;2&lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;

  .DocumentationSection__scss
    pre.CodeExampleBox
      code.language-scss.
        .Steak {
          @include grid-row(false);

          &__element {
            &--first {
              @include grid-column($width: 2 of 5);
            }

            &--second {
              @include grid-column($width: 3 of 5);
            }
          }
        }

//- Offset
.DocumentationSection
  .DocumentationSection__description
    .DocumentationSection__title
      h3.Typo__h3 Offset
    .DocumentationSection__text
      p.Typo__p With the offset you can move a column up to a column number following the direction of the grid. The space occupied by the column will be the width number added with the offset number.
      a.Typo__a(href="https://github.com/Objectway/super-gigi#grid-column" target="_blank") grid-column()

  .DocumentationSection__example
    .Ribs
      .Ribs__element.Ribs__element--first
        .Box
          p.Typo__p.Box__paragraph 1
      .Ribs__element.Ribs__element--second
        .Box
          p.Typo__p.Box__paragraph 2
      .Ribs__element.Ribs__element--third
        .Box
          p.Typo__p.Box__paragraph 3

  .DocumentationSection__html
    pre.CodeExampleBox
      code.language-markup.
        &lt;div class=&quot;Ribs&quot;&gt;
          &lt;div class=&quot;Ribs__element Ribs__element--first&quot;&gt;
            &lt;div class=&quot;Box&quot;&gt;
              &lt;p&gt;1&lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;Ribs__element Ribs__element--second&quot;&gt;
            &lt;div class=&quot;Box&quot;&gt;
              &lt;p&gt;2&lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;Ribs__element Ribs__element--third&quot;&gt;
            &lt;div class=&quot;Box&quot;&gt;
              &lt;p&gt;3&lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;

  .DocumentationSection__scss
    pre.CodeExampleBox
      code.language-scss.
        .Ribs {
          @include grid-row(false);

          &__element {
            &--first {
              @include grid-column(
                $width: 4,
                $offset: (
                  xxsmall: 6, large: 1
                )
              );
            }

            &--second {
              @include grid-column(
                $width: 4,
                $offset: 2
              );
            }

            &--third {
              @include grid-column(
                $width: 4,
                $offset: (
                  xxsmall: 8,
                  large: 4
                )
              );
            }
          }
        }





// - Example 5
.DocumentationSection
  .DocumentationSection__description
    .DocumentationSection__title
      h3.Typo__h3 Push &amp; Pull
    .DocumentationSection__text
      p.Typo__p Testo esempio $push e $pull
      a.Typo__a(href="https://github.com/Objectway/super-gigi#grid-column" target="_blank") grid-column()

  .DocumentationSection__example
    .Pepperoni
      .Pepperoni__element.Pepperoni__element--first
        .Box
          p.Typo__p.Box__paragraph 1
      .Pepperoni__element.Pepperoni__element--second
        .Box
          p.Typo__p.Box__paragraph 2
      .Pepperoni__element.Pepperoni__element--third
        .Box
          p.Typo__p.Box__paragraph 3

  .DocumentationSection__html
    pre.CodeExampleBox
      code.language-markup.
        &lt;div class=&quot;Pepperoni&quot;&gt;
          &lt;div class=&quot;Pepperoni__element Pepperoni__element--first&quot;&gt;
            &lt;div class=&quot;Box&quot;&gt;
              &lt;p&gt;1&lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;Pepperoni__element Pepperoni__element--second&quot;&gt;
            &lt;div class=&quot;Box&quot;&gt;
              &lt;p&gt;2&lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;Pepperoni__element Pepperoni__element--third&quot;&gt;
            &lt;div class=&quot;Box&quot;&gt;
              &lt;p&gt;3&lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;

  .DocumentationSection__scss
    pre.CodeExampleBox
      code.language-scss.
        .Pepperoni{
          @include grid-row(false);

          &__element {
            &--first {
              @include grid-column(
                $width: 4,
                $push: (xxsmall:8, large: 4)
              );
            }

            &--second {
              @include grid-column(
                $width: 4,
                $push: 4,
                $pull: (large: 4)
              );
            }

            &--third {
              @include grid-column(
                $width: 4,
                $pull: (xxsmall: 8, large: 0)
              );
            }
          }
        }


// - Example 6
.DocumentationSection
  .DocumentationSection__description
    .DocumentationSection__title
      h3.Typo__h3 Order
    .DocumentationSection__text
      p.Typo__p Testo esempio $order
      a.Typo__a(href="https://github.com/Objectway/super-gigi#grid-column" target="_blank") grid-column()

  .DocumentationSection__example
    .Sausages
      .Sausages__element.Sausages__element--first
        .Box
          p.Typo__p.Box__paragraph 1
      .Sausages__element.Sausages__element--second
        .Box
          p.Typo__p.Box__paragraph 2
      .Sausages__element.Sausages__element--third
        .Box
          p.Typo__p.Box__paragraph 3
      .Sausages__element.Sausages__element--fourth
        .Box
          p.Typo__p.Box__paragraph 4

  .DocumentationSection__html
    pre.CodeExampleBox
      code.language-markup.
        &lt;div class=&quot;Sausages&quot;&gt;
          &lt;div class=&quot;Sausages__element Sausages__element--first&quot;&gt;
            &lt;div class=&quot;Box&quot;&gt;
              &lt;p&gt;1&lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;Sausages__element Sausages__element--second&quot;&gt;
            &lt;div class=&quot;Box&quot;&gt;
              &lt;p&gt;2&lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;Sausages__element Sausages__element--third&quot;&gt;
            &lt;div class=&quot;Box&quot;&gt;
              &lt;p&gt;3&lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;Sausages__element Sausages__element--fourth&quot;&gt;
            &lt;div class=&quot;Box&quot;&gt;
              &lt;p&gt;4&lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;

  .DocumentationSection__scss
    pre.CodeExampleBox
      code.language-scss.
        .Sausages{
          @include grid-row(false);

          &__element {
            &--first {
              @include grid-column(
                $width: auto,
                $order: (medium: 4, large: 3)
              );
            }

            &--second {
              @include grid-column(
                $width: auto,
                $order: (xxsmall: 3, large: 4)
              );
            }

            &--third {
              @include grid-column(
                $width: auto,
                $order: (xxsmall: 2, large: 1)
              );
            }

            &--fourth {
              @include grid-column(
                $width: auto,
                $order: (xxsmall: 4, medium: 1, large: 2)
              );
            }
          }
        }


// - Example 7
.DocumentationSection
  .DocumentationSection__description
    .DocumentationSection__title
      h3.Typo__h3 Collapse
    .DocumentationSection__text
      p.Typo__p Testo esempio $collapse
      a.Typo__a(href="https://github.com/Objectway/super-gigi#grid-column" target="_blank") grid-column()

  .DocumentationSection__example
    .Eggplant
      .Eggplant__element.Eggplant__element--first
        .Box
          p.Typo__p.Box__paragraph 1
      .Eggplant__element.Eggplant__element--second
        .Box
          p.Typo__p.Box__paragraph 2
      .Eggplant__element.Eggplant__element--third
        .Box
          p.Typo__p.Box__paragraph 3
      .Eggplant__element.Eggplant__element--fourth
        .Box
          p.Typo__p.Box__paragraph 4

  .DocumentationSection__html
    pre.CodeExampleBox
      code.language-markup.
        &lt;div class=&quot;Eggplant&quot;&gt;
          &lt;div class=&quot;Eggplant__element Eggplant__element--first&quot;&gt;
            &lt;div class=&quot;Box&quot;&gt;
              &lt;p&gt;1&lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;Eggplant__element Eggplant__element--second&quot;&gt;
            &lt;div class=&quot;Box&quot;&gt;
              &lt;p&gt;2&lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;Eggplant__element Eggplant__element--third&quot;&gt;
            &lt;div class=&quot;Box&quot;&gt;
              &lt;p&gt;3&lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;Eggplant__element Eggplant__element--fourth&quot;&gt;
            &lt;div class=&quot;Box&quot;&gt;
              &lt;p&gt;4&lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;

  .DocumentationSection__scss
    pre.CodeExampleBox
      code.language-scss.
        .Eggplant{
          @include grid-row(false);

          &__element {
            &--first {
              @include grid-column($width: 3, $collapse: true);
            }

            &--second {
              @include grid-column($width: 3, $collapse: true);
            }

            &--third {
              @include grid-column($width: 3, $collapse: false);
            }

            &--fourth {
              @include grid-column($width: 3, $collapse: false);
            }
          }
        }


// - Example 8
.DocumentationSection
  .DocumentationSection__description
    .DocumentationSection__title
      h3.Typo__h3 Global
    .DocumentationSection__text
      p.Typo__p Testo esempio $global
      a.Typo__a(href="https://github.com/Objectway/super-gigi#grid-column" target="_blank") grid-column()

  .DocumentationSection__example
    .Bacon
      .Bacon__element.Bacon__element--first
        span.Bacon__box 1
      .Bacon__element.Bacon__element--second
        span.Bacon__box 2
      .Bacon__element.Bacon__element--third
        span.Bacon__box 3
      .Bacon__element.Bacon__element--fourth
        span.Bacon__box 4

  .DocumentationSection__html
    pre.CodeExampleBox
      code.language-markup.
        &lt;div class=&quot;Bacon&quot;&gt;
          &lt;div class=&quot;Bacon__element Bacon__element--first&quot;&gt;
            &lt;span class=&quot;Bacon_box&quot;&gt;1&lt;/span&gt;
          &lt;/div&gt;
          &lt;div class=&quot;Bacon__element Bacon__element--second&quot;&gt;
            &lt;span class=&quot;Bacon_box&quot;&gt;2&lt;/span&gt;
          &lt;/div&gt;
          &lt;div class=&quot;Bacon__element Bacon__element--third&quot;&gt;
            &lt;span class=&quot;Bacon_box&quot;&gt;3&lt;/span&gt;
          &lt;/div&gt;
          &lt;div class=&quot;Bacon__element Bacon__element--fourth&quot;&gt;
            &lt;span class=&quot;Bacon_box&quot;&gt;4&lt;/span&gt;
          &lt;/div&gt;
        &lt;/div&gt;

  .DocumentationSection__scss
    pre.CodeExampleBox
      code.language-scss.
        .Bacon {
          @extend %Line;
          @include grid-row(false);

          &__element {
            &--first {
              @include grid-column($width: 3, $global: false);
              display: inline-block;
            }

            &--second {
              @include grid-column($width: 3);
            }

            &--third {
              @include grid-column($width: 3);
            }

            &--fourth {
              @include grid-column($width: 3);
            }
          }

          &__box {
            @extend .Box;
          }
        }
