.HomePage
  .HomePage__section
    .HomePage__title
      h2.Typo__h2 CSS3 flex based grid system
      p.Typo__p It's developed thinking about modern web applications and its first purpose is to make easier to manage responsive layout.
  .HomePage__section
    .HomePage__features
      .CircleIcon
      h2.Typo__h2 Customizable
      p.Typo__p Using the Sass version you can personalize SuperGiGi to define the number of columns, breakpoints, name of grid components, etc.
    .HomePage__features
      .CircleIcon
      h2.Typo__h2 Preprocessors
      p.Typo__p It's developed in Sass but if you prefer you can use a compiled version.
    .HomePage__features
      .CircleIcon
      h2.Typo__h2 Mobile first
      p.Typo__p You can build for small devices first. Then, as devices get larger and larger, SuperGiGi easily scale your applications for a complete responsive design.
