.HomePage
  .HomePage__topContent
    .HomePage__logoWrapper
      .HomePage__titleSection
        .HomePage__titleWrapper
          h1.HomePage__title Super GiGi
          p.HomePage__subtitle Italian Grilleria
          a.HomePage__cta(href="https://github.com/Objectway/super-gigi") View on GitHub
          a.HomePage__cta(href="https://github.com/Objectway/super-gigi/zipball/master") Download
      .HomePage__logoContainer
        .HomePage__logo
  .HomePage__section
    .HomePage__description
      h2.Typo__h2 Sass Grid Generator based on CSS3 Flex-box
      p.Typo__p It's developed thinking about modern web applications and its first purpose is to make easier to manage responsive layout.
  .HomePage__section
    .HomePage__features
      .CircleIcon.CircleIcon--customizable
      h2.Typo__h2 Customizable
      p.Typo__p Using the Sass version you can personalize SuperGiGi to define the number of columns, breakpoints, name of grid components, etc.
    .HomePage__features
      .CircleIcon.CircleIcon--preprocessors
      h2.Typo__h2 Preprocessors
      p.Typo__p It's developed in Sass but if you prefer you can use a compiled version.
    .HomePage__features
      .CircleIcon.CircleIcon--mobile
      h2.Typo__h2 Mobile first
      p.Typo__p You can build for small devices first. Then, as devices get larger and larger, SuperGiGi easily scale your applications for a complete responsive design.
