// - VARIABLES

// - $rem-base
.DocumentationSection.DocumentationSection--variables
  .DocumentationSection__description.DocumentationSection__description--variables
    .DocumentationSection__title
      h3.Typo__h3 $rem-base
    .DocumentationSection__text
      p.Typo__p Testo
      a.Typo__a(href="https://github.com/Objectway/super-gigi#rem-base" target="_blank") Link

// - $row-width
.DocumentationSection.DocumentationSection--variables
  .DocumentationSection__description.DocumentationSection__description--variables
    .DocumentationSection__title
      h3.Typo__h3 $row-width
    .DocumentationSection__text
      p.Typo__p Testo
      a.Typo__a(href="https://github.com/Objectway/super-gigi#row-width" target="_blank") Link

// - $column-gutter
.DocumentationSection.DocumentationSection--variables
  .DocumentationSection__description.DocumentationSection__description--variables
    .DocumentationSection__title
      h3.Typo__h3 $column-gutter
    .DocumentationSection__text
      p.Typo__p Testo
      a.Typo__a(href="https://github.com/Objectway/super-gigi#column-gutter" target="_blank") Link

// - $grid-columns
.DocumentationSection.DocumentationSection--variables
  .DocumentationSection__description.DocumentationSection__description--variables
    .DocumentationSection__title
      h3.Typo__h3 $grid-columns
    .DocumentationSection__text
      p.Typo__p Testo
      a.Typo__a(href="https://github.com/Objectway/super-gigi#grid-columns" target="_blank") Link

// - $use-classes
.DocumentationSection.DocumentationSection--variables
  .DocumentationSection__description.DocumentationSection__description--variables
    .DocumentationSection__title
      h3.Typo__h3 $use-classes
    .DocumentationSection__text
      p.Typo__p Testo
      a.Typo__a(href="https://github.com/Objectway/super-gigi#use-classes" target="_blank") Link

// - $use-placeholders
.DocumentationSection.DocumentationSection--variables
  .DocumentationSection__description.DocumentationSection__description--variables
    .DocumentationSection__title
      h3.Typo__h3 $use-placeholders
    .DocumentationSection__text
      p.Typo__p Testo
      a.Typo__a(href="https://github.com/Objectway/super-gigi#use-placeholders" target="_blank") Link

// - $row-name
.DocumentationSection.DocumentationSection--variables
  .DocumentationSection__description.DocumentationSection__description--variables
    .DocumentationSection__title
      h3.Typo__h3 $row-name
    .DocumentationSection__text
      p.Typo__p Testo
      a.Typo__a(href="https://github.com/Objectway/super-gigi#row-name" target="_blank") Link

// - $column-name
.DocumentationSection.DocumentationSection--variables
  .DocumentationSection__description.DocumentationSection__description--variables
    .DocumentationSection__title
      h3.Typo__h3 $column-name
    .DocumentationSection__text
      p.Typo__p Testo
      a.Typo__a(href="https://github.com/Objectway/super-gigi#column-name" target="_blank") Link

// - $grid-start
.DocumentationSection.DocumentationSection--variables
  .DocumentationSection__description.DocumentationSection__description--variables
    .DocumentationSection__title
      h3.Typo__h3 $grid-start
    .DocumentationSection__text
      p.Typo__p Testo
      a.Typo__a(href="https://github.com/Objectway/super-gigi#grid-start" target="_blank") Link

// - $use-dryt
.DocumentationSection.DocumentationSection--variables
  .DocumentationSection__description.DocumentationSection__description--variables
    .DocumentationSection__title
      h3.Typo__h3 $use-dry
    .DocumentationSection__text
      p.Typo__p Testo
      a.Typo__a(href="https://github.com/Objectway/super-gigi#use-dry" target="_blank") Link



