// - VARIABLES

.DocumentationSection.DocumentationSection--variables

  // - $rem-base
  .DocumentationSection__description.DocumentationSection__description--variables
    .DocumentationSection__title
      h3.Typo__h3 $rem-base #[a.Typo__a(href="https://github.com/Objectway/super-gigi#rem-base" target="_blank") Link]
    .DocumentationSection__text
      p.Typo__p Default:
        span.DocumentationSection__inlineCode 16px
      p.Typo__p Type:
        span.DocumentationSection__inlineCode unit

  // - $row-width
  .DocumentationSection__description.DocumentationSection__description--variables
    .DocumentationSection__title
      h3.Typo__h3 $row-width #[a.Typo__a(href="https://github.com/Objectway/super-gigi#row-width" target="_blank") Link]
    .DocumentationSection__text
      p.Typo__p Default:
        span.DocumentationSection__inlineCode rem-calc(1920)
      p.Typo__p Type:
        span.DocumentationSection__inlineCode unit

  // - $column-gutter
  .DocumentationSection__description.DocumentationSection__description--variables
    .DocumentationSection__title
      h3.Typo__h3 $column-gutter #[a.Typo__a(href="https://github.com/Objectway/super-gigi#column-gutter" target="_blank") Link]
    .DocumentationSection__text
      p.Typo__p Default:
        span.DocumentationSection__inlineCode rem-calc(30)
      p.Typo__p Type:
        span.DocumentationSection__inlineCode unit

  // - $grid-columns
  .DocumentationSection__description.DocumentationSection__description--variables
    .DocumentationSection__title
      h3.Typo__h3 $grid-columns #[a.Typo__a(href="https://github.com/Objectway/super-gigi#grid-columns" target="_blank") Link]
    .DocumentationSection__text
      p.Typo__p Default:
        span.DocumentationSection__inlineCode 12
      p.Typo__p Type:
        span.DocumentationSection__inlineCode number

  // - $use-classes
  .DocumentationSection__description.DocumentationSection__description--variables
    .DocumentationSection__title
      h3.Typo__h3 $use-classes #[a.Typo__a(href="https://github.com/Objectway/super-gigi#use-classes" target="_blank") Link]
    .DocumentationSection__text
      p.Typo__p Default:
        span.DocumentationSection__inlineCode false
      p.Typo__p Type:
        span.DocumentationSection__inlineCode boolean

  // - $use-placeholders
  .DocumentationSection__description.DocumentationSection__description--variables
    .DocumentationSection__title
      h3.Typo__h3 $use-placeholders #[a.Typo__a(href="https://github.com/Objectway/super-gigi#use-placeholders" target="_blank") Link]
    .DocumentationSection__text
      p.Typo__p Default:
        span.DocumentationSection__inlineCode false
      p.Typo__p Type:
        span.DocumentationSection__inlineCode boolean

  // - $row-name
  .DocumentationSection__description.DocumentationSection__description--variables
    .DocumentationSection__title
      h3.Typo__h3 $row-name #[a.Typo__a(href="https://github.com/Objectway/super-gigi#row-name" target="_blank") Link]
    .DocumentationSection__text
      p.Typo__p Default:
        span.DocumentationSection__inlineCode row
      p.Typo__p Type:
        span.DocumentationSection__inlineCode string

  // - $column-name
  .DocumentationSection__description.DocumentationSection__description--variables
    .DocumentationSection__title
      h3.Typo__h3 $column-name #[a.Typo__a(href="https://github.com/Objectway/super-gigi#column-name" target="_blank") Link]
    .DocumentationSection__text
      p.Typo__p Default:
        span.DocumentationSection__inlineCode column
      p.Typo__p Type:
        span.DocumentationSection__inlineCode string

  // - $use-bem
  .DocumentationSection__description.DocumentationSection__description--variables
    .DocumentationSection__title
      h3.Typo__h3 $use-bem #[a.Typo__a(href="https://github.com/Objectway/super-gigi#use-bem" target="_blank") Link]
    .DocumentationSection__text
      p.Typo__p Default:
        span.DocumentationSection__inlineCode false
      p.Typo__p Type:
        span.DocumentationSection__inlineCode boolean

  // - $bem-separator
  .DocumentationSection__description.DocumentationSection__description--variables
    .DocumentationSection__title
      h3.Typo__h3 $bem-separator #[a.Typo__a(href="https://github.com/Objectway/super-gigi#bem-separator" target="_blank") Link]
    .DocumentationSection__text
      p.Typo__p Default:
        span.DocumentationSection__inlineCode '--'
      p.Typo__p Type:
        span.DocumentationSection__inlineCode string

  // - $grid-start
  .DocumentationSection__description.DocumentationSection__description--variables
    .DocumentationSection__title
      h3.Typo__h3 $grid-start #[a.Typo__a(href="https://github.com/Objectway/super-gigi#grid-start" target="_blank") Link]
    .DocumentationSection__text
      p.Typo__p Default:
        span.DocumentationSection__inlineCode left
      p.Typo__p Type:
        span.DocumentationSection__inlineCode string
        | - possible values:
        span.DocumentationSection__inlineCode left
        | or
        span.DocumentationSection__inlineCode right

  // - $use-dry
  .DocumentationSection__description.DocumentationSection__description--variables
    .DocumentationSection__title
      h3.Typo__h3 $use-dry #[a.Typo__a(href="https://github.com/Objectway/super-gigi#use-dry" target="_blank") Link]
    .DocumentationSection__text
      p.Typo__p Default:
        span.DocumentationSection__inlineCode false
      p.Typo__p Type:
        span.DocumentationSection__inlineCode boolean

  // - $debug
  .DocumentationSection__description.DocumentationSection__description--variables
    .DocumentationSection__title
      h3.Typo__h3 $debug #[a.Typo__a(href="https://github.com/Objectway/super-gigi#debug" target="_blank") Link]
    .DocumentationSection__text
      p.Typo__p Default:
        span.DocumentationSection__inlineCode false
      p.Typo__p Type:
        span.DocumentationSection__inlineCode boolean

  // - $breakpoints
  .DocumentationSection__description.DocumentationSection__description--variables
    .DocumentationSection__title
      h3.Typo__h3 $breakpoints #[a.Typo__a(href="https://github.com/Objectway/super-gigi#breakpoints" target="_blank") Link]
    .DocumentationSection__text
      p.Typo__p Default:
        span.DocumentationSection__inlineCode (xxsmall: 0em, xsmall: em-calc(480), small: em-calc(640), medium: em-calc(720), large: em-calc(1024), xlarge: em-calc(1280), xxlarge: em-calc(1440))
      p.Typo__p Type:
        span.DocumentationSection__inlineCode map

  // - $eq-grid
  .DocumentationSection__description.DocumentationSection__description--variables
    .DocumentationSection__title
      h3.Typo__h3 $eq-grid #[a.Typo__a(href="https://github.com/Objectway/super-gigi#eq-grid" target="_blank") Link]
    .DocumentationSection__text
      p.Typo__p Default:
        span.DocumentationSection__inlineCode false
      p.Typo__p Type:
        span.DocumentationSection__inlineCode boolean

  // - $use-flex
  .DocumentationSection__description.DocumentationSection__description--variables
    .DocumentationSection__title
      h3.Typo__h3 $use-flex #[a.Typo__a(href="https://github.com/Objectway/super-gigi#use-flex" target="_blank") Link]
    .DocumentationSection__text
      p.Typo__p Default:
        span.DocumentationSection__inlineCode true
      p.Typo__p Type:
        span.DocumentationSection__inlineCode boolean

  // - $query-direction
  .DocumentationSection__description.DocumentationSection__description--variables
    .DocumentationSection__title
      h3.Typo__h3 $query-direction #[a.Typo__a(href="https://github.com/Objectway/super-gigi#query-direction" target="_blank") Link]
    .DocumentationSection__text
      p.Typo__p Default:
        span.DocumentationSection__inlineCode (min-width, max-width)
      p.Typo__p Type:
        span.DocumentationSection__inlineCode list



