// - VARIABLES

.DocumentationSection.DocumentationSection--variables

  // - $rem-base
  .DocumentationSection__description.DocumentationSection__description--variables
    .DocumentationSection__title
      h3.Typo__h3 $rem-base
    .DocumentationSection__text
      p.Typo__p Testo
      a.Typo__a(href="https://github.com/Objectway/super-gigi#rem-base" target="_blank") Link

  // - $row-width
  .DocumentationSection__description.DocumentationSection__description--variables
    .DocumentationSection__title
      h3.Typo__h3 $row-width
    .DocumentationSection__text
      p.Typo__p Testo
      a.Typo__a(href="https://github.com/Objectway/super-gigi#row-width" target="_blank") Link

  // - $column-gutter
  .DocumentationSection__description.DocumentationSection__description--variables
    .DocumentationSection__title
      h3.Typo__h3 $column-gutter
    .DocumentationSection__text
      p.Typo__p Testo
      a.Typo__a(href="https://github.com/Objectway/super-gigi#column-gutter" target="_blank") Link

  // - $grid-columns
  .DocumentationSection__description.DocumentationSection__description--variables
    .DocumentationSection__title
      h3.Typo__h3 $grid-columns
    .DocumentationSection__text
      p.Typo__p Testo
      a.Typo__a(href="https://github.com/Objectway/super-gigi#grid-columns" target="_blank") Link

  // - $use-classes
  .DocumentationSection__description.DocumentationSection__description--variables
    .DocumentationSection__title
      h3.Typo__h3 $use-classes
    .DocumentationSection__text
      p.Typo__p Testo
      a.Typo__a(href="https://github.com/Objectway/super-gigi#use-classes" target="_blank") Link

  // - $use-placeholders
  .DocumentationSection__description.DocumentationSection__description--variables
    .DocumentationSection__title
      h3.Typo__h3 $use-placeholders
    .DocumentationSection__text
      p.Typo__p Testo
      a.Typo__a(href="https://github.com/Objectway/super-gigi#use-placeholders" target="_blank") Link

  // - $row-name
  .DocumentationSection__description.DocumentationSection__description--variables
    .DocumentationSection__title
      h3.Typo__h3 $row-name
    .DocumentationSection__text
      p.Typo__p Testo
      a.Typo__a(href="https://github.com/Objectway/super-gigi#row-name" target="_blank") Link

  // - $column-name
  .DocumentationSection__description.DocumentationSection__description--variables
    .DocumentationSection__title
      h3.Typo__h3 $column-name
    .DocumentationSection__text
      p.Typo__p Testo
      a.Typo__a(href="https://github.com/Objectway/super-gigi#column-name" target="_blank") Link

  // - $grid-start
  .DocumentationSection__description.DocumentationSection__description--variables
    .DocumentationSection__title
      h3.Typo__h3 $grid-start
    .DocumentationSection__text
      p.Typo__p Testo
      a.Typo__a(href="https://github.com/Objectway/super-gigi#grid-start" target="_blank") Link

  // - $use-dry
  .DocumentationSection__description.DocumentationSection__description--variables
    .DocumentationSection__title
      h3.Typo__h3 $use-dry
    .DocumentationSection__text
      p.Typo__p Testo
      a.Typo__a(href="https://github.com/Objectway/super-gigi#use-dry" target="_blank") Link

  // - $debug
  .DocumentationSection__description.DocumentationSection__description--variables
    .DocumentationSection__title
      h3.Typo__h3 $debug
    .DocumentationSection__text
      p.Typo__p Testo
      a.Typo__a(href="https://github.com/Objectway/super-gigi#debug" target="_blank") Link

  // - $breakpoints
  .DocumentationSection__description.DocumentationSection__description--variables
    .DocumentationSection__title
      h3.Typo__h3 $breakpoints
    .DocumentationSection__text
      p.Typo__p Testo
      a.Typo__a(href="https://github.com/Objectway/super-gigi#breakpoints" target="_blank") Link



