extends templates/_base.jade

block head
  include includes/_head.jade

block menu
  include helpers/_menuList.jade
  +menuList("functions")

block content
  .KitchenSinkBody__section
    .KitchenSinkBody__aside
      nav.KitchenSinkNav
        a.KitchenSinkNav__link(href="#remove-unit-") Remove unit
        a.KitchenSinkNav__link(href="#rem-calc-") Rem calc
        a.KitchenSinkNav__link(href="#em-calc-") Em calc
        a.KitchenSinkNav__link(href="#px-calc-") Pixel calc
    .KitchenSinkBody__content

      .MarkDownGenerated
        .MarkDownGenerated__content
          :readmeSection
            Functions
