doctype html
html
  head
    link(rel='stylesheet', href="styles/main.css" type="text/css")
  body

    //- blocks/_kitchensinc-title.jade
    include blocks/_kitchensinc-title.jade

    //- blocks/_grid.jade
    include blocks/_grid.jade
