extends templates/_base.jade

block head
  include includes/_head.jade

block menu
  include helpers/_menuList.jade
  +menuList("index")

block content
  .KitchenSinkBody__section
    .KitchenSinkBody__title
      h2.Typo__h2 The Grid
      p.Typo__p Super GiGi is a CSS3 flex based grid system. It's developed thinking about modern web applications and its first purpose is to make easier to manage responsive layout. It's developed in Sass but you can use a compiled version if you prefer.
    include includes/_grid.jade
