extends templates/_base.jade

block head
  include includes/_head.jade

block menu
  include helpers/_menuList.jade
  +menuList("index")

block content
  .KitchenSinkBody__section
    .KitchenSinkBody__title
      h2.Typo__h2 The Grid
    include includes/_grid.jade
