extends templates/_base.jade

block head
  include includes/_head.jade

block menu
  include helpers/_menuList.jade
  +menuList("mixins")

block content
  .KitchenSinkBody__section
    .KitchenSinkBody__aside
      nav.KitchenSinkNav
        a.KitchenSinkNav__link(href="#media-query-") Media Query
        a.KitchenSinkNav__link(href="#grid-space-") Grid space
        a.KitchenSinkNav__link(href="#grid-row-") Grid row
        a.KitchenSinkNav__link(href="#grid-column-") Grid column
        a.KitchenSinkNav__link(href="#show-from-") Show from
        a.KitchenSinkNav__link(href="#hide-from-") Hide from
        a.KitchenSinkNav__link(href="#show-for-") Show for
        a.KitchenSinkNav__link(href="#hide-for-") Hide for
        a.KitchenSinkNav__link(href="#dry-it-") Dry it
    .KitchenSinkBody__content

      .MarkDownGenerated
        .MarkDownGenerated__content
          :readmeSection
            Mixins
