extends templates/_base.jade

block head
  include includes/_head.jade

block menu
  include helpers/_menuList.jade
  +menuList("variables")

block content
  .KitchenSinkBody__section
    .KitchenSinkBody__aside
      nav.KitchenSinkNav
        a.KitchenSinkNav__link(href="#-rem-base") Rem base
        a.KitchenSinkNav__link(href="#-design-base") Design base
        a.KitchenSinkNav__link(href="#-row-width") Row width
        a.KitchenSinkNav__link(href="#-column-gutter") Column gutter
        a.KitchenSinkNav__link(href="#-grid-columns") Grid columns
        a.KitchenSinkNav__link(href="#-use-classes") Use classes
        a.KitchenSinkNav__link(href="#-use-placeholders") Use placeholders
        a.KitchenSinkNav__link(href="#-row-name") Row name
        a.KitchenSinkNav__link(href="#-column-name") Column name
        a.KitchenSinkNav__link(href="#-use-bem") Use BEM
        a.KitchenSinkNav__link(href="#-bem-separator") BEM separator
        a.KitchenSinkNav__link(href="#-grid-start") Grid Start
        a.KitchenSinkNav__link(href="#-use-dry") Use dry
        a.KitchenSinkNav__link(href="#-debug") Debug
        a.KitchenSinkNav__link(href="#-sg-collapse") Global collapse
        a.KitchenSinkNav__link(href="#-sg-use-margin-experimental-") Global Margins
        a.KitchenSinkNav__link(href="#-eq-grid") EQ Grid
        a.KitchenSinkNav__link(href="#-breakpoints") Breakpoints
        a.KitchenSinkNav__link(href="#-use-flex") Use flex
        a.KitchenSinkNav__link(href="#-use-table-experimental-") Use table
        a.KitchenSinkNav__link(href="#-use-float-experimental-") Use float
        a.KitchenSinkNav__link(href="#-query-direction-experimental-") Query direction
    .KitchenSinkBody__content

      .MarkDownGenerated
        .MarkDownGenerated__content
          :readmeSection
            Options
