extends templates/_base.jade

block head
  include includes/_head.jade

block menu
  include helpers/_menuList.jade
  +menuList("variables")

block content
  .KitchenSincBody__section
    .KitchenSincBody__title
      h2 Variables
    include includes/_variables.jade
