extends templates/_base.jade

block head
  include includes/_head.jade

block menu
  include helpers/_menuList.jade
  +menuList("visibility")

block content
  .KitchenSinkBody__section
    .KitchenSinkBody__title
      h2.Typo.Typo__h2 Visibility Mixins
      p.Typo.Typo__p Let you show or hide elements based on screen size or device orientation. You can use these mixins to control which elements users see depending on their browsing environment.
    include includes/_visibility.jade
