extends templates/_base.jade

block head
  include includes/_head.jade

block menu
  include helpers/_menuList.jade
  +menuList("visibility")

block content
  .KitchenSinkBody__section
    .KitchenSinkBody__title
      h2.Typo_h2 Visibility
    include includes/_visibility.jade
