
mixin menuList(active)
  ul.KitchenSinkMenu

    li.KitchenSinkMenu__element(class=active == "index" ? "KitchenSinkMenu__element--active" : "")
      a(href="index.html") The Grid

    li.KitchenSinkMenu__element(class=active == "visibility" ? "KitchenSinkMenu__element--active" : "")
      a(href="visibility.html") Visibility

    li.KitchenSinkMenu__element(class=active == "variables" ? "KitchenSinkMenu__element--active" : "")
      a(href="variables.html") Variables
