mixin menuList(active)
  ul.KitchenSinkMenuList
    li.KitchenSinkMenuList__element(class=active == "index" ? "KitchenSinkMenuList__element--active" : "")
      a.KitchenSinkMenuList__link(href="index.html") The Grid
    li.KitchenSinkMenuList__element(class=active == "visibility" ? "KitchenSinkMenuList__element--active" : "")
      a.KitchenSinkMenuList__link(href="visibility.html") Visibility
    li.KitchenSinkMenuList__element(class=active == "variables" ? "KitchenSinkMenuList__element--active" : "")
      a.KitchenSinkMenuList__link(href="variables.html") Variables
