.Typo {

  &__h1 {
    font-size: 2.5em;
    font-weight: 700;
  }

  &__h2 {
    font-size: 2em;
    font-weight: 700;
  }

  &__h3 {
    font-size: 1.5em;
    font-weight: 700;
  }

  &__h4 {
    font-size: 1.25em;
    font-weight: 700;
  }

  &__h5 {
    font-size: 1em;
    font-weight: 700;
  }

  &__h6 {
    font-size: 0.75em;
    font-weight: 700;
  }

  &__p{
    font-size: 1em;
  }

  &__a{
    font-size: 1em;
    color: $primary-color;
  }
}
