.DocumentationSection {
  @include grid-row(false);
  margin-bottom: ($column-gutter * 2);

  &--variables{
    margin-bottom: $column-gutter;
  }

  &__description {
    @include grid-column(12);
    margin-bottom: $column-gutter;

    &--variables {
      @include grid-column(6);
    }
  }

  &__title {
    margin-bottom: ($column-gutter / 4);
  }

  &__text {
  }

  &__html {
    @include grid-column((xxsmall: 12, large: 6));

    position: relative;

    &::after {
      @extend %CodeSampleTitle;
      content: 'HTML';
    }
  }

  &__scss {
    @include grid-column((xxsmall: 12, large: 6));

    position: relative;

    &::after {
      @extend %CodeSampleTitle;
      content: 'SCSS';
    }
  }

  &__example {
    @include grid-column(12);
    margin-bottom: ($column-gutter /2 );
  }
}

