.DocumentationSection {
  @include grid-row(false);
  margin-bottom: ($column-gutter * 2);

  &--variables {
    @extend .CodeExampleBox;

    margin-bottom: $column-gutter;
    padding: rem-calc(20);
  }

  &__description {
    @include grid-column(12);
    margin-bottom: $column-gutter;

    &--variables {
      @include grid-column(6);
    }
  }

  &__title {
    margin-bottom: ($column-gutter/3);
  }

  &__text {
    .Typo__p {
      margin-bottom: rem-calc(10);
    }
  }

  &__html {
    @include grid-column((xxsmall: 12, large: 6));

    position: relative;

    &::after {
      @extend %CodeSampleTitle;
      content: 'HTML';
    }
  }

  &__scss {
    @include grid-column((xxsmall: 12, large: 6));

    position: relative;

    &::after {
      @extend %CodeSampleTitle;
      content: 'SCSS';
    }
  }

  &__example {
    @include grid-column(12);
    margin-bottom: ($column-gutter /2);
  }

  &__inlineCode {
    background-color: $gray-lighter;
    border-radius: rem-calc(3);
    font-family: 'Courier';
    font-size: rem-calc(13);
    margin: rem-calc(0 5);
    padding: rem-calc(5);
  }

  &__list,
  &__subList {
    margin-left: $column-gutter;
  }

  &__itemList{
    display: list-item;

    > .Typo__p {
      font-weight: bold;
    }

    &__itemSublist {
      display: list-item;
    }
  }
}
