
.HomePage {

  .HomePage__section {
    @include grid-row;
    justify-content: center;
    margin-bottom: $column-gutter;
  }

  &__title {
    @include grid-column((xxsmall: 10, medium: 6));
    margin-bottom: rem-calc(20);
    text-align: center;

    .Typo__h2 {
      margin-bottom: rem-calc(20);
    }
  }

  &__features {
    @include grid-column((xxsmall: 10, medium: 3));

    .Typo__h2 {
      margin-bottom: rem-calc(20);
      text-align: center;
    }
  }
}

.CircleIcon {
  align-self: center;
  background-color: $white;
  border-radius: 50%;
  height: 100px;
  margin-bottom: rem-calc(20);
  width: 100px;
}
