// Page Header

$menu-width: rem-calc(240);

.KitchenSinkNavBar {
  background-color: $primary-color;
  box-shadow: 0 0 rem-calc(5) rgba(0, 0, 0, 0.5);
  display: none;
  position: fixed;
  transition: transform 0.2s ease-in-out;
  width: 100%;
  z-index: 1000;

  @include media-query(large) {
    display: block;
  }

  &__menuBar {
    @include grid-row(false);
  }

  &__logo {
    @include grid-column(4);
    justify-content: center;
  }

  &__menuItems {
    @include grid-column(8);

    text-align: right;
  }

  &__title {
    @extend .Typo__h1;
    color: $white;
    font-size: rem-calc(24);
  }
}
