.KitchenSinkTouchBar {
  background: $primary-color;
  box-shadow: 0 0 rem-calc(5) rgba(0, 0, 0, 0.5);
  height: rem-calc(50);
  position: fixed;
  transition: transform 0.2s ease-in-out;
  width: 100%;
  z-index: 500;

  @include media-query(large) {
    display: none;
  }

  &__label {
    cursor: pointer;
    display: inline-block;
    height: 100%;
    margin-left: rem-calc(10);
    min-width: rem-calc(40);
  }

  &__icon {
    fill: $white;
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
    width: rem-calc(20);
  }

  &__logo {
    display: inline-block;
    padding: rem-calc(15);
    position: absolute;
  }

  &__title {
    @extend .Typo__h1;
    color: $white;
    font-size: rem-calc(18);
  }
}
