.KitchenSinkSideBar {
  background-color: $primary-color;
  height: 100%;
  margin-left: -$menu-width;
  position: fixed;
  transition: transform 0.2s ease-in-out;
  width: $menu-width;

  &__logo {
    color: $white;
    padding: rem-calc(30);
  }
}
