.KitchenSinkBody {
  backface-visibility: hidden;
  padding-top: rem-calc(45);
  position: relative;
  transition: transform 0.2s ease-in-out;

  @include media-query(large) {
    padding-top: rem-calc(65);
  }

  &__section {
    @include grid-row(false);
    padding-top: $column-gutter;
  }

  &__title {
    @include grid-column;
    margin-bottom: $column-gutter / 2;
  }
}
