.KitchenSinkBody {
  backface-visibility: hidden;
  padding: rem-calc(45 0 20 0);
  position: relative;
  transition: transform 0.2s ease-in-out;

  @include media-query(large) {
    padding: rem-calc(45 20 20 20);
  }

  @include media-query(large) {
    padding-top: rem-calc(60);
  }

  &__section {
    @include grid-row(false);
    padding-top: $column-gutter;
  }

  &__title {
    @include grid-column;
    margin-bottom: $column-gutter;

    .Typo__h2 {
      margin-bottom: ($column-gutter/3);
    }
  }

  &__homepageImage {
    background-color: $azure;
    height: rem-calc(750);
    margin: rem-calc(-5 -20 20 -20);
  }
}
