.KitchenSinkSideBar {
  background-color: $primary-color;
  height: 100%;
  margin-left: -$menu-width;
  position: fixed;
  transition: transform 0.2s ease-in-out;
  width: $menu-width;

  &__logo {
    @extend .Typo__h1;

    border-bottom: 1px solid $almost-white;
    color: $white;
    margin-bottom: $column-gutter / 2;
    padding: rem-calc(30);
  }
}
