// Page Header

$menu-width: rem-calc(240);

.KitchenSinkHead {
  backface-visibility: hidden;
  background-color: $primary-color;
  transition: transform 0.2s ease-in-out;

  &__menuRow {
    @include grid-row(false);
  }

  &__logoColumn {
    display: none;

    @include media-query(large) {
      @include grid-column(4);
      color: $white;
      display: flex;
      justify-content: center;
    }
  }

  &__menuColumn {
    background-color: $primary-color;
    bottom: 0;
    box-sizing: border-box;
    color: $white;
    height: 100vh;
    left: 0;
    margin-left: -$menu-width;
    padding: $column-gutter;
    position: fixed;
    top: 0;
    width: $menu-width;

    li {
      margin-bottom: rem-calc(20);
    }

    @include media-query(large) {
      @include grid-column(8);

      background-color: transparent;
      height: auto;
      margin: 0 auto;
      margin-left: auto;
      position: relative;
      text-align: right;

      li {
        display: inline-block;
        margin-bottom: 0;
        padding: rem-calc(20);
      }
    }
  }

  &__navbar {
    background: $primary-color;
    height: rem-calc(44);

    @include media-query(large) {
      display: none;
    }

    label {
      margin-left: rem-calc(10);
      min-height: rem-calc(44);
      min-width: rem-calc(44);
      position: absolute;
    }

    svg {
      fill: $white;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: rem-calc(20);
    }

  }
}

#TogglerMenu {
  display: none;
}

#TogglerMenu:checked ~ .KitchenSinkHead,
#TogglerMenu:checked ~ .KitchenSinkBody {
  transform: translateX($menu-width);
}
