.KitchenSinkBody {
  backface-visibility: hidden;
  // padding: rem-calc(45 0 20 0);
  position: relative;
  transition: transform 0.2s ease-in-out;
  flex-grow: 1;

  @include media-query(large) {
    // padding: rem-calc(45 20 20 20);
  }

  @include media-query(large) {
    // padding-top: rem-calc(60);
  }

  &__section {
    @include grid-row(false);
    padding-top: $column-gutter;
  }

  &__title,
  &__content {
    @include grid-column(auto);
    margin-bottom: $column-gutter;

    .Typo__h2 {
      margin-bottom: ($column-gutter/3);
    }
  }

  &__aside {
    @include grid-column((xxsmall: 12, medium: 4, large: 3));
  }

}
