@font-face {
  font-family: "owFont";
  src: url('../fonts/owFont.eot');
  src: url('../fonts/owFont.eot?#iefix') format('eot'),
    url('../fonts/owFont.woff') format('woff'),
    url('../fonts/owFont.ttf') format('truetype'),
    url('../fonts/owFont.svg#owFont') format('svg');
  font-weight: normal;
  font-style: normal;
}

.owIcon:before {
  display: inline-block;
  font-family: "owFont";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.owIcon-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.owIcon-2x { font-size: 2em; }
.owIcon-3x { font-size: 3em; }
.owIcon-4x { font-size: 4em; }
.owIcon-5x { font-size: 5em; }
.owIcon-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

.owIcon-arrow-down-circle:before { content: "\EA01" }
.owIcon-arrow-down:before { content: "\EA02" }
.owIcon-arrow-left-circle:before { content: "\EA03" }
.owIcon-arrow-left:before { content: "\EA04" }
.owIcon-arrow-right-circle:before { content: "\EA05" }
.owIcon-arrow-right:before { content: "\EA06" }
.owIcon-arrow-up-cirlce:before { content: "\EA07" }
.owIcon-arrow-up:before { content: "\EA08" }
.owIcon-bar-chart:before { content: "\EA09" }
.owIcon-book-open:before { content: "\EA0A" }
.owIcon-broken-link:before { content: "\EA0B" }
.owIcon-calendar:before { content: "\EA0C" }
.owIcon-caret-down:before { content: "\EA0D" }
.owIcon-caret-up:before { content: "\EA0E" }
.owIcon-cart:before { content: "\EA0F" }
.owIcon-check-circle-alt:before { content: "\EA10" }
.owIcon-check-circle-fill:before { content: "\EA11" }
.owIcon-check-circle:before { content: "\EA12" }
.owIcon-check:before { content: "\EA13" }
.owIcon-clock:before { content: "\EA14" }
.owIcon-close-circle-fill:before { content: "\EA15" }
.owIcon-close-circle:before { content: "\EA16" }
.owIcon-close-thick:before { content: "\EA17" }
.owIcon-close:before { content: "\EA18" }
.owIcon-correct:before { content: "\EA19" }
.owIcon-doc:before { content: "\EA1A" }
.owIcon-docs:before { content: "\EA1B" }
.owIcon-download:before { content: "\EA1C" }
.owIcon-envelope:before { content: "\EA1D" }
.owIcon-eraser:before { content: "\EA1E" }
.owIcon-external-link:before { content: "\EA1F" }
.owIcon-home-o:before { content: "\EA20" }
.owIcon-home:before { content: "\EA21" }
.owIcon-info-circle-fill:before { content: "\EA22" }
.owIcon-info-circle:before { content: "\EA23" }
.owIcon-key:before { content: "\EA24" }
.owIcon-list:before { content: "\EA25" }
.owIcon-lock-password:before { content: "\EA26" }
.owIcon-lock:before { content: "\EA27" }
.owIcon-login:before { content: "\EA28" }
.owIcon-logout:before { content: "\EA29" }
.owIcon-map-marker:before { content: "\EA2A" }
.owIcon-minus-circle:before { content: "\EA2B" }
.owIcon-nav-open:before { content: "\EA2C" }
.owIcon-order:before { content: "\EA2D" }
.owIcon-pencil:before { content: "\EA2E" }
.owIcon-phone:before { content: "\EA2F" }
.owIcon-pie-chart:before { content: "\EA30" }
.owIcon-plus-circle:before { content: "\EA31" }
.owIcon-qa:before { content: "\EA32" }
.owIcon-question-circle:before { content: "\EA33" }
.owIcon-refresh:before { content: "\EA34" }
.owIcon-reply:before { content: "\EA35" }
.owIcon-signoff:before { content: "\EA36" }
.owIcon-smartphone:before { content: "\EA37" }
.owIcon-trash:before { content: "\EA38" }
.owIcon-user-circle:before { content: "\EA39" }
.owIcon-user:before { content: "\EA3A" }
.owIcon-view-grid:before { content: "\EA3B" }
.owIcon-view-list:before { content: "\EA3C" }
.owIcon-wallet:before { content: "\EA3D" }
.owIcon-warning-squared:before { content: "\EA3E" }
.owIcon-warning:before { content: "\EA3F" }
