// - THE GRID


.Example1
  .Example1__element.Example1__element--first
    .Box
      p +grid-column(auto)

  .Example1__element.Example1__element--second
    .Box
      p +grid-column(auto)

  .Example1__element.Example1__element--third
    .Box
      p +grid-column(auto) +show-from(large)
