// Kitchen Sinc Title

.KitchenSinc
  .KitchenSinc__title
    h1 The Kitchen Sinc
  .KitchenSinc__subtitle
    h3 This page includes the most important elements so that we can make sure things work together smoothly.
