// Kitchen Sinc Title

.KitchenSinc
  .KitchenSinc__title
    | The Grid
  .KitchenSinc__subtitle
    | This page includes the most important elements so that we can make sure things work together smoothly.
