// Kitchen Sinc Title
input#TogglerMenu(type="checkbox")
.KitchenSincHead
  .KitchenSincHead__menu
    ul
      li 
        a(href="#") test
      li 
        a(href="#") test
      li 
        a(href="#") test
      li 
        a(href="#") test
      li 
        a(href="#") test
