// Kitchen Sinc Title

.KitchenSincHead
  .KitchenSincHead__content
    .KitchenSincHead__text
      .KitchenSincHead__title
        h1 GiGi
      .KitchenSincHead__subtitle
        span A costumizable grid system based on CSS3 Flexbox.
    .KitchenSincHead__cta
      a.GitHubLink(
        href="https://github.com/Objectway/davinci-grid"
        target="_blank"
      )
        .GitHubLink__logo
          include _svg-gitHub.jade
        .GitHubLink__text
          span view project on
          strong GitHub
