// Kitchen Sinc Title
input#TogglerMenu(type="checkbox")
.KitchenSincHead
  .KitchenSincHead__menuRow
    .KitchenSincHead__logoColumn
      | test
    .KitchenSincHead__menuColumn
      ul
        li 
          a(href="#") test
        li 
          a(href="#") test
        li 
          a(href="#") test
        li 
          a(href="#") test
        li 
          a(href="#") test
