// Kitchen Sinc Title

.KitchenSincHead
  .KitchenSincHead__text
    .KitchenSincHead__title
      h1 Da Vinci
    .KitchenSincHead__subtitle
      span A costumizable grid system based on CSS3 Flexbox.
  .KitchenSincHead__cta
    | Githubbami
