@font-face {
    font-family: "FuturaLT";
    src: url("fonts/FuturaLT-Light.eot");
    src: url("fonts/FuturaLT-Light.eot?#iefix") format("embedded-opentype"),
         url("fonts/FuturaLT-Light.woff") format("woff"),
         url("fonts/FuturaLT-Light.ttf") format("truetype"),
         url("fonts/FuturaLT-Light.svg#FuturaLT") format("svg");
    font-weight: 100;
    font-style: normal;
}