@font-face {
    font-family: "FuturaLT-Heavy";
    src: url("fonts/FuturaLT-Heavy.eot");
    src: url("fonts/FuturaLT-Heavy.eot?#iefix") format("embedded-opentype"),
         url("fonts/FuturaLT-Heavy.woff") format("woff"),
         url("fonts/FuturaLT-Heavy.ttf") format("truetype"),
         url("fonts/FuturaLT-Heavy.svg#FuturaLT-Heavy") format("svg");
    font-weight: 400;
    font-style: normal;
}