@font-face {
    font-family: "FuturaLT";
    src: url("fonts/FuturaLT.eot");
    src: url("fonts/FuturaLT.eot?#iefix") format("embedded-opentype"),
         url("fonts/FuturaLT.woff") format("woff"),
         url("fonts/FuturaLT.ttf") format("truetype"),
         url("fonts/FuturaLT.svg#FuturaLT") format("svg");
    font-weight: 400;
    font-style: normal;
}