@font-face {
    font-family: "FuturaLT-Condensed";
    src: url("fonts/FuturaLT-CondensedOblique.eot");
    src: url("fonts/FuturaLT-CondensedOblique.eot?#iefix") format("embedded-opentype"),
         url("fonts/FuturaLT-CondensedOblique.woff") format("woff"),
         url("fonts/FuturaLT-CondensedOblique.ttf") format("truetype"),
         url("fonts/FuturaLT-CondensedOblique.svg#FuturaLT-Condensed") format("svg");
    font-weight: 400;
    font-style: italic;
}