@font-face {
    font-family: "FuturaLT-Condensed";
    src: url("fonts/FuturaLT-CondExtraBoldObl.eot");
    src: url("fonts/FuturaLT-CondExtraBoldObl.eot?#iefix") format("embedded-opentype"),
         url("fonts/FuturaLT-CondExtraBoldObl.woff") format("woff"),
         url("fonts/FuturaLT-CondExtraBoldObl.ttf") format("truetype"),
         url("fonts/FuturaLT-CondExtraBoldObl.svg#FuturaLT-Condensed") format("svg");
    font-weight: 900;
    font-style: italic;
}