// GRID AND VISIBILITY SETTING
// -----------------------------------------------------------------------------
// With OW-grid you have three choises of use
// You can use mixins (preferred ways)
// You can use placeholder (the dry way, less weight if you don't use gzip)
// YOu can use precompiled classes, like foundation or bootstrap.
// -----------------------------------------------------------------------------

// --------
// SETTINGS
// --------
$use-flex: true !default
$row-width: rem-calc(1920) !default
$column-gutter: rem-calc(30) !default
$grid-columns: 12 !default
$use-classes: false !default
$use-placeholder: false !default
$row-name: row !default
$column-name: column !default
$grid-start: left !default
$grid-end: right !default
$use-dry: true !default
$debug: false !default





// COLORS

// Grayscale
$black:         #1f1f1f
$gray-darker:   #414445
$gray-dark:     #606972
$gray:          #949ca4
$gray-light:    #c0c6cb
$gray-lighter:  #ebebeb
$white-almost:  #f7f7f7
$white:         #ffffff

// Color palette
$blue-darker:   #0a3250
$blue-dark:     #0a416e
$blue:          #146eb4
$azure:         #72b8ef
$green:         #52c63f
$red:           #dc4650
$yellow:        #ffd52b
$orange:        #e27948

// Shadows
$shadow-blue:   #8793a2
$shadow-brown:  #a8a88c
$shadow-red:    #a88c8c

// UI COLORS
$primary-color: $blue


// SETTINGS
$row-width: rem-calc(1200)



// Typography

$main-font: Helvetica, Arial, sans-serif
