$dwx-breakpoint-name: small, medium, medium-landscape, large, xlarge, xxlarge !default

// Grid
$include-html-dwx-grid-classes: true !default
$include-element-query-classes: false !default
$include-xl-html-dwx-grid-classes: true !default
$include-html-dwx-visibility-classes: true !default
$column-gutter: 0.9375rem !default
$row-width: 62.5rem !default
$total-columns: 12 !default
$default-float: left !default
$opposite-direction: right !default
$off-canvas-width: 15.625rem !default
