@import main
@import helpers/normalize

// Color palete: Grayscale
$black: #31363B
$gray-darker: #494F56
$gray-dark: #606972
$gray: #949CA4
$gray-light: #C0C6CB
$gray-lighter: #EAEBED
$almost-white: #F5F5F5
$white: #FFFFFF

// Color palette: colors
$navy: #001f3f
$midnight-blue: #2c3e50
$blue: #005dad
$azure: #2983c2
$cyan: #00afec
$aqua: #7FDBFF
$teal: #39CCCC
$green: #64aa00
$green-light: #52cf00
$green-dark: darken($green, 10%)
$turquoise: #1abc9c
$lime: #bbd61e
$yellow: #ffff00
$kaki: #695F40
$mustard: #CCB019
$orange: #f57d23
$red: #cc1414
$red-dark: #6f0b0b
$purple: #902C8E
$brown: #5c423f
$brown-dark: darken($brown, 10%)
$brown-light: #A39998
$brown-almost-white: #F8F7F4

$primary-color: $blue
// $accent-color: #55ce53
$accent-color: $purple

// Layout settings
$touch-bar-height: rem-calc(60)
$touch-bar-bg: $primary-color
$top-bar-height: rem-calc(100)
$top-bar-shadow: 0 0 10px rgba(black, 0.5)
$sidebar-width: rem-calc(240)
$page-content-spacing: rem-calc(30)
$overlay-bg: rgba(#2D3640, 0.9)
$footer-bg: $gray-dark
$offcanvas-menu-color: $gray-lighter
$offcanvas-menu-active-color: $primary-color

$transition-speed: 300ms
$transition-ease: ease

$use-classes: true
$debug: true

//generating static grid
@import main

body
  font-family: "Lato", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif

.KitchenSincHead
  +grid-row(false)
  background-color: $primary-color
  padding: ($column-gutter * 3) 0 ($column-gutter * 2)
  margin-bottom: $column-gutter
  align-items: center

  &__text
    +grid-column((xxsmall: 12, medium: auto))

  &__title
    +grid-row()
    h1
      +grid-column(12)
      color: white
      font-size: $rem-base * 2.5
      margin-bottom: $rem-base

  &__subtitle
    +grid-row()
    span
      +grid-column(12)
      color: rgba(white, 0.8)
      font-size: $rem-base * 1.2

  &__cta
    +grid-column()

.GitHubLink
  +grid-row()

  &__logo
    +grid-column($collapse: true)
    +show-from(medium)
  &__text
    +grid-column(auto)
    color: rgba(white, 0.8)
    line-height: 1.4em

  svg
    fill: white
    width: rem-calc(50)

  strong
    font-size: 1.75em
    letter-spacing: 3px


