@import main
@import helpers/normalize

// Color palete: Grayscale
$black: #31363B
$gray-darker: #494F56
$gray-dark: #606972
$gray: #949CA4
$gray-light: #C0C6CB
$gray-lighter: #EAEBED
$almost-white: #F5F5F5
$white: #FFFFFF

// Color palette: colors
$navy: #001f3f
$midnight-blue: #2c3e50
$blue: #005dad
$azure: #2983c2
$cyan: #00afec
$aqua: #7FDBFF
$teal: #39CCCC
$green: #64aa00
$green-light: #52cf00
$green-dark: darken($green, 10%)
$turquoise: #1abc9c
$lime: #bbd61e
$yellow: #ffff00
$kaki: #695F40
$mustard: #CCB019
$orange: #f57d23
$red: #cc1414
$red-dark: #6f0b0b
$purple: #902C8E
$brown: #5c423f
$brown-dark: darken($brown, 10%)
$brown-light: #A39998
$brown-almost-white: #F8F7F4

$primary-color: $blue
// $accent-color: #55ce53
$accent-color: $purple

// Layout settings
$touch-bar-height: rem-calc(60)
$touch-bar-bg: $primary-color
$top-bar-height: rem-calc(100)
$top-bar-shadow: 0 0 10px rgba(black, 0.5)
$sidebar-width: rem-calc(240)
$page-content-spacing: rem-calc(30)
$overlay-bg: rgba(#2D3640, 0.9)
$footer-bg: $gray-dark
$offcanvas-menu-color: $gray-lighter
$offcanvas-menu-active-color: $primary-color

$transition-speed: 300ms
$transition-ease: ease

$use-classes: true
$debug: true

//generating static grid
@import main

// import blocks
@import blocks/KitchenSincHead.sass



body
  font-family: "Lato", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif
  background: $almost-white


.KitchenSincBody

  &__section
    +grid-row(false)
    padding: $column-gutter 0

  &__title
    +grid-column()
    font-size: rem-calc(26)
    margin-bottom: $column-gutter/2



%Line
  background-color: $aqua
  padding: $column-gutter 0

.Example
  &__title
    +grid-column(12)
    margin-bottom: $column-gutter/2
  &__content
    +grid-column(12)
    margin-bottom: $column-gutter/2

.Example1
  +grid-row(false)
  @extend %Line

  &__element
    &--first
      +grid-column(auto)
    &--second
      +grid-column(auto)
    &--third
      +grid-column(7)
      +show-from(large)

.Example2
  +grid-row(false)
  @extend %Line

  &__element
    &--first
      +grid-column((xxsmall: 3, medium: 5, xlarge: 6))

    &--second
      +grid-column((xxsmall: 9, medium: 7, xlarge: 6))

.Example3
  +grid-row(false)
  @extend %Line

  &__element
    &--first
      +grid-column((xxsmall: 10, small: 2, medium: 8, large: 4, xlarge: 10))

    &--second
      +grid-column(auto)

.Example4
  +grid-row(false)
  @extend %Line

  &__element
    &--first
      +grid-column($width: 1 of 5)

    &--second
      +grid-column($width: 2 of 5)

    &--third
      +grid-column(2)

    &--fourth
      +grid-column(auto)



.Box
  background-color: $midnight-blue
  padding: $column-gutter/2
  color: $white
  text-align: center
  vertical-align: middle


.GitHubLink
  +grid-row()
  margin-top: $column-gutter / 2
  justify-content: flex-end
  +media-query(medium)
    margin-top: 0

  &__logo
    +grid-column($collapse: true)
    +show-from(medium)

  &__text
    +grid-column()
    background-color: rgba(white, 0.8)
    border-radius: 5px
    color: $primary-color
    margin-right: $column-gutter / 2
    padding-top: rem-calc(5)
    padding-bottom: rem-calc(5)
    +media-query(medium)
      padding-top: 0
      padding-bottom: 0

    +media-query(medium)
      margin-right: 0
      background: transparent
      color: rgba(white, 0.8)
      line-height: 1.4em


  svg
    fill: white
    width: rem-calc(50)

  strong
    +media-query(medium)
      font-size: 1.75em
      letter-spacing: 3px


