// Page Header
// jade --> _kotchensinc-title.jade

.KitchenSincHead
  background-color: $primary-color

  &__content
    +grid-row(false)
    align-items: center
    padding: ($column-gutter * 1.5) 0 ($column-gutter / 2)
    +media-query(medium)
      padding: ($column-gutter * 3) 0 ($column-gutter * 2)

  &__text
    +grid-column((xxsmall: 12, medium: auto))

  &__title
    +grid-row()

    h1
      +grid-column(12)
      color: white
      font-size: $rem-base * 2.5
      +media-query(medium)
        margin-bottom: $rem-base

  &__subtitle
    +grid-row()
    span
      +grid-column(12)
      color: rgba(white, 0.8)
      font-size: $rem-base * 1.2

  &__cta
    +grid-column()
    width: 100%
    +media-query(medium)
      width: auto
