// Kitchensink

.KitchenSinc {
  @include grid-row(false);
  &__title {
    font-size: 30px;
    @include grid-column(
      $width: (xxsmall:6, large: 6),
      $collapse: false,
      $push: (xxsmall:6, large: 12),
      $pull: 1,
      $order: 0
    );
  }

  &__subtitle {
    font-size: 20px;
    @include grid-column($width: (1 of 2), $order: 0);
  }
}
